* {
	margin:0;
	padding:0;
}
body {
	font-family:"Helvetica", Arial, sans-serif;
	color:#000;
	font-size:11px;
	font-weight:400;
}
img {
	border:0;
}
#container {
	width:100%;
	min-width:900px;
}
#bar {
	background:url(../img/bar.jpg) 0 0 repeat-x;
	width:100%;
	height:137px;
	position:absolute;
	margin-top:250px;
}
#content {
	min-width:900px;
	background:url(../img/tile.png) 0 0 repeat;
	height:403px;
	margin-left:auto;
	margin-right:auto;
	padding-top:0;
}
#chinese-box {
	position:absolute;
	background:url(../img/chinese-box.png) 0 0 no-repeat;
	width:334px;
	height:442px;
	margin-top:80px;
	margin-left:0;
	z-index:99;
}
#logo {
	position:absolute;
	background:url(../img/td-logo.png) 0 0 no-repeat;
	width:489px;
	height:109px;
	margin-top:120px;
	margin-left:385px;
	z-index:99;
}
h1.headline {
	position:absolute;
	font-size:18px;
	font-weight:700;
	color:#93e8fd;
	text-shadow:0 1px 0 rgba(0, 41, 67, 0.75);
	text-align:center;
	width:500px;
	margin-top:25px;
	margin-left:335px;
	line-height:1.2em;
}
#icon {
	background:url(../img/td-icon.png) 0 0 no-repeat;
	width:45px;
	height:40px;
	position:absolute;
	text-align: center;
	margin-top:83px;
	margin-left:495px;
}
.press {
	position:absolute;
	font-size:14px;
	font-weight:700;
	color:#6b5a3a;
	text-align: center;
	margin-top:95px;
	margin-left:540px;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255, 230, 177, 0.75);
}
.press a {
	color:#d38b00;
	text-decoration:none;
}
.press a:hover {
	text-decoration:underline;
}
.copyright {
	position:absolute;
	width:500px;
	margin-top:165px;
	margin-left:350px;
	text-align:center;
	color:#6b5a3a;
	font-size:10px;
}
.copyright a {
	font-weight:700;
	color:inherit;
}
#bar-main, #header-main {
	position:relative;
	width:900px;
	min-width:900px;
	margin-left:auto;
	margin-right:auto;
	background:#000;
}
